html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

div.container_thongtin {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

div.container_thongtin img {
    width: 720px;
    height: 490px;
}

p.title {
    font-weight: bold;
    margin: 0;
}

div.content_thongtin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*===================================== 
= CSS TẠO MỤC LỤC
=====================================*/
#toc_container {
    background: #edf6ff;
    border: 1px solid #aaa;
    padding: 0 10px;
    margin-bottom: 1em;
    font-size: 95%;
}

p.toc_title,
ul.toc_list {
    margin: 5px;
    padding-left: 0;
}

.toc_list li {
    list-style: none;
    margin-top: 0px;
    margin: 0 !important;
}

#toc_container a {
    text-decoration: none;
    text-shadow: none;
    color: #52b043;
    font-weight: 555;
}

#toc_container a:hover {
    color: #d7c20d;
    text-decoration: underline;
}

span.accordion {
    cursor: pointer;
}

div.panel {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

/*CONTENT*/

p {
    text-indent: 30px;
    margin: 7px;
}

h3 {
    margin: 15px;
}

h4 {
    margin: 15px;
}